<nav class="navbar navbar-expand-lg bg-dark bg-gradient">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Winstons Cost Companion</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white active" aria-current="page" href="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/facilities">Facilities</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/ratings">Ratings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/negotiated_rates">Negotiated Rates</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More Stuff Here
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/codes">Codes</a></li>
            <li><a class="dropdown-item" href="/health_plan_networks">Health Plan Networks</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/clinicians">Clinicians</a></li>
            <li><a class="dropdown-item" href="/organizations">Organizations</a></li>
            <li><a class="dropdown-item" href="/utilizations">Utilizations</a></li>
            <li><a class="dropdown-item" href="/timely_and_effective_care_ratings">Timely & Effective Care Ratings</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/static/negotiated_rates_bulk_actions">Bulk Actions</a>
        </li>
      </ul>
    </div>
  </div>
</nav>